.container{
    position: relative;
}

#sidebar{
    color: white;
}

#logotipo{
    position: relative;
    max-width: 110%;
    left: -7px;
}

.toolbar-ios ion-title {
    background-color: black;
}

.fixed-content, .item-inner, .item-ios{
    background-color: #151515;
}

//Editando aparência ao clicar no menubar
.toolbar-ios {
    padding: 4px;
    padding-left: 4px;
    padding-right: 4px;
    min-height: 70px;
}
.input-wrapper .label-ios {
    margin: 20px 8px 11px 0;
    color: white;
}

//Barra de pesquisa
.searchbar-input-container{
    width: 90%;
    margin: 15px 17px;
}
.list-ios {
    margin: 0px 20px 2px;
}

//Cor do nome dos games
.item-ios h2{
    color: white;
    font-weight: bold;
    margin: 0 0 14px;
    font-size: 1.83rem;
}

//Margem entre os games da lista
.list-ios > .item-block{
    border-top: 0.55px solid #c8c7cc;
}

//Deixando cada item conforme planejado
//Imagem
.item-ios ion-thumbnail[item-start] {
    margin: 100px 64px 5px 10px;
}
.item-ios ion-thumbnail img {
    width: 150px;
    height: 115px;
    border-radius: 25%;
    position: relative;
    bottom: 80px;
    box-shadow: 0px 0px 25px 5px black;
}

//Nome do game
.input-wrapper .label-ios {
    width: 100%;
    position: absolute;
    top: 133px;
    left: -1px;
    text-align: center;
}

//Ícone para adicionar à lista de desejos
.item-ios .item-button {
    position: relative;
    top: -30px;
    right: 7px;
    padding: 0 0.5em;
    height: 60px;
    font-size: 30px;
    width: 60px;
    border-radius: 100%;
    border: 2.5px solid green;
}
ion-icon {
    display: inline-block;
    color: green;
    font-size: 1em;
}
icon-ios .ion-ios-heart{
    height: 26px;
}
.button-ios{
    background-color: #151515;
}

.plataformas {
    top: -215px;
    left: 10px;
}
.plataformas #steam{
    position: relative;
    left: 10px;
    top: 165px;
    width: 33px;
}
.item-ios p {
    overflow: inherit;
    font-size: 1.6rem;
    line-height: normal;
    text-overflow: inherit;
    color: white;
    margin: 0px -20px -6px 8px;
    font-weight: bolder;
}

#origin {
    position: relative;
    left: -132px;
    top: 175px;
    width: 13%;
}
#p1{
    position: relative;
    top: -79px;
    color: #ffffff;
    left: -104px;
    font-size: 1.6rem;
    font-weight: bold;
}

#nuuvem {
    position: relative;
    right: -45px;
    bottom: -179px;
    width: 19%;
    height: 60px;
}
#p2 {
    position: relative;
    top: -101px;
    color: white;
    left: 135px;
    font-size: 1.6rem;
    font-weight: bold;
}